*{
    margin:0;
    padding:0;
    color:yellow;
    font-family: 'Share Tech Mono', monospace;
    box-sizing: border-box; 
}

body{
    background-image: url("../images/profile_background.jpg");
}

.header-top{
    background-color:black;
    text-align:center;
    padding:0.25rem;
    color:yellow;
    font-weight:bold;
    font-family: 'Share Tech Mono', monospace;
    position:fixed;
    top:0px;
    z-index: 2;
}
.header-top h1{
    font-size: 3vw;
}

.navigation-large{
    /* float:right; */
}
.navigation-large a{
    font-family: 'Share Tech Mono', monospace; 
    color:yellow;
    font-size:1.5vw;
    display:inline-block;
}

.navigation-large img{
    float:left;
    width: 30%;
    height:15%;
}

nav a:hover:not(.active){
    color:red;
    background-color:black;
}





main{
    margin-top:100px;
}
.profile{
    padding:5vw;
}
.profile img{
    margin:20px 20px 20px 20px;
    border-radius:50%;
    border:2px solid black;
    width:100%;
}
.profile::after{
    content:"";
    display:block;
    clear:both;
}
h2{
    font-size: 5vw;
    text-align:center;
    font-family:'Share Tech Mono', monospace;
}
#aboutMe{
    color:yellow;
    font-family: 'Share Tech Mono', monospace; 
    margin:50px 5% 0px 5%;
    padding:5%;
    text-align: center;
    /* float:right; */
    width:55%;
}
#seneca{
    color:yellow;
    text-align:center;
    font-style:italic;
}

.education{
}
.nelsonmandela-row{
    margin-top:100px;
    padding:2vw;
}
.nmu-qualification{
    text-align: center;
    margin: 10% auto;
}
.nmu-logo{
    text-align: center;
    margin: 5% auto;
}
.nmu-logo img{
    width:50%;
}
.wits-row{
    margin-top:100px;
    padding:2vw; 
}
.wits-logo{
    text-align: center;
    margin: 5% auto;
    
}

.wits-qualification{
    text-align: center;
    margin: 5% auto;
}

.work-experience{
    /* background-image: url("/images/profile_background.jpg"); */
}
.work-experience h2{
    text-align:center;
    
}
.work-experience h3{
    text-align:center;
    margin-top:50px;
}
.nmu-ecologo{
    padding:2%;
    text-align: center;
    margin: 5% auto;
}
.nmu-ecologo img{
    border-radius:50%;
    width:55%;
}
 
.nmu-ecotext{
    padding: 5%;
}
.mentor-logo{
    padding:1%;
    text-align: center;
    margin: 5% auto;
}
.mentor-logo img{
    border-radius: 50%;
    width:55%;
}
.mentor-text{
    padding:5%;
}
.web-skills,
.cad-skills{
    padding:5%;
}

footer{
    background-color:yellow;
    color:black;
    position:static;
    bottom:0;
    text-align:center;
    width:100%;
    font-weight: bold;
    padding:1vw;
}

/*
Media queries
*/

@media only screen and (max-width:760px){
    .profile img{
        width:50%;
    }

}