*{
    margin:0;
    padding:0;
    color:yellow;
    font-family: 'Share Tech Mono', monospace;
    
}

body{
    background-image: url("/images/profile_background.jpg");
}.navigation{
    position:fixed;
    top:0px;
    width:100%;
}
header{
    background-color:black;
    text-align:center;
    padding:20px;
    color:yellow;
    font-weight:bold;
    font-family: 'Share Tech Mono', monospace;
}
nav{
    margin:0;
    background-image: url("/images/profile_background.jpg");
    font-family: 'Share Tech Mono', monospace; 
    
}
nav ul {
    list-style-type:none;
    margin-left:1.5rem;
    padding:10px;
    overflow:hidden;
}
nav li{
    float:left;
    /* padding: 10px 0px 10px 20px; */
}
nav li a{
    padding: 0.5rem;
    display: block;
    color:yellow;
    text-align: center;
    font-size:1rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 5px;
}
nav li a:hover:not(.active){
    color:red;
    background-color:black;
}
main{
    background-image: url("/images/profile_background.jpg");
    margin-top:100px;
}
.profile{
    padding:5vw;
    background-image: url("/images/profile_background.jpg");
}
.profile img{
    /* size:219px; */
    margin:20px 20px 20px 20px;
    /* padding:30px; */
    border-radius:50%;
    border:2px solid black;
    float: left;
    width:100%;
}
.profile::after{
    content:"";
    display:block;
    clear:both;
}
h2{
    font-size: 5vw;
    text-align:center;
    font-family:'Share Tech Mono', monospace;
}
#aboutme{
    color:yellow;
    font-family: 'Share Tech Mono', monospace; 
    margin:50px 5% 0px 5%;
    padding:5%;
    text-align: center;
    /* float:right; */
    width:55%;
}
#seneca{
    color:yellow;
    text-align:center;
    font-style:italic;
}
.imagebreak1{
    background: url("/images/image_break1.jpg");
}
.education{
    background-image: url("/images/profile_background.jpg")
}
.nelsonmandelarow{
    margin-top:100px;
    padding:2vw;
}
.nmuqualification{
    text-align: center;
    margin: 10% auto;
}
.nmulogo{
    text-align: center;
    margin: 5% auto;
}
.nmulogo img{
    width:50%;
}
.witsrow{
    margin-top:100px;
    padding:2vw; 
}
.witslogo{
    text-align: center;
    margin: 5% auto;
    
}

.witsqualification{
    text-align: center;
    margin: 5% auto;
}

.workexperience{
    background-image: url("/images/profile_background.jpg");
}
.workexperience h2{
    text-align:center;
    
}
.workexperience h3{
    text-align:center;
    margin-top:50px;
}
.nmuecologo{
    padding:2%;
    text-align: center;
    margin: 5% auto;
}
.nmuecologo img{
    border-radius:50%;
    width:55%;
}
 /* .workexperience img{
    text-align:center;
    border-radius:50%;
    border:5px solid red;
    width:45%; */
.nmuecotext{
    padding: 5%;
}
.mentorlogo{
    padding:1%;
    text-align: center;
    margin: 5% auto;
}
.mentorlogo img{
    border-radius: 50%;
    width:55%;
}
.mentortext{
    padding:5%;
}
.webskills,.cad{
    padding:5%;
}
/* .contact{
    margin: 5%;
    
} */